<a href="https://colab.research.google.com/github/patosaid/apuntes_python/blob/master/Cursos_y_ML_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apuntes de Curso IA de Google y Data Science de edx

### Fuentes:
- [La página web](//developers.google.com/machine-learning/crash-course/prereqs-and-prework) (curso intensivo de Google en ML)
- [Vocabulario](https://developers.google.com/machine-learning/glossary/)
- [Python for Data Science](https://courses.edx.org/courses/course-v1:UCSanDiegoX+DSE200x+1T2019a/course/)
- [Tutorial en python.org](https://docs.python.org/3/tutorial/index.html)
- [fast.ai](https://www.fast.ai/) o [usar colab](https://course.fast.ai/start_colab.html)
- [tutorial de colab en medium](https://towardsdatascience.com/getting-started-with-google-colab-f2fff97f594c) 
- [otro tuto de colab en medium (2018)](https://medium.com/lean-in-women-in-tech-india/google-colab-the-beginners-guide-5ad3b417dfa)  
- [instalar python en máquina local](https://developers.google.com/machine-learning/crash-course/running-exercises-locally)
- [sitio de la librería pandas y tutoriales](http://pandas.pydata.org/pandas-docs/stable/index.html)

## Regresión Lineal

- Understand "loss" in general and squared loss in particular. 

L2 **Loss**  for a given example is also called **squared error**:   

      = Square of the difference between prediction and label   
      = (observation - prediction)2  
      = (y - y')2
### Un ejemplo de regresion linal y redes neuronales:

"Es sabido que los grillos cantan con más frecuencias en los días de más calor".  
* *y = mx + b*  
donde:
  - *y* es la temperatura en celcius (el valor a estimar).  
  - *m* la pendiente de la recta.  
  - *x* el número de cantos por minuto.  
  - *b* la intersección en el eje y.  

En machine learning, la ec. anterior se escribe de la siguiente manera:   
* *y'= w1 x1 + b*  
donde:  
  - *y'* es la etiqueta predicha o salida deseada.  
  - *w1* es el peso del atributo 1.  
  - *x1* es el atributo, o entrada 1.
  - *b* es el *bias* a veces llamado *w0*.

## continuar [aca](https://developers.google.com/machine-learning/crash-course/descending-into-ml/training-and-loss) sobre metodo de entrenamiento

# continuando curso edx...

# Import Libraries 
# deberia borrarlo y empezar un tuto de como usar google colab.

##  Configuring your notebook instance ([fuente](https://course.fast.ai/start_colab.html#step-2-configuring-your-notebook-instance))


1.  Before you start using your notebook, you need to install the necessary packages. You can do this by creating a code cell, and running:

In [0]:
  !curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [0]:
!pip install -q matplotlib-venn

In [0]:
!apt-get -qq install -y libfluidsynth1

In [0]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
file_id = 'REPLACE_WITH_YOUR_FILE_ID'
downloaded = drive.CreateFile({'id': file_id})
print('Downloaded content "{}"'.format(downloaded.GetContentString()))

# Primeros pasos en TensorFlow
https://developers.google.com/machine-learning/crash-course/first-steps-with-tensorflow/video-lecture

## First Steps with TensorFlow: Toolkit   
Tensorflow is a computational framework for building machine learning models. TensorFlow provides a variety of different toolkits that allow you to construct models at your preferred level of abstraction. You can use lower-level APIs to build models by defining a series of mathematical operations. Alternatively, you can use higher-level APIs (like tf.estimator) to specify predefined architectures, such as linear regressors or neural networks.

The following figure shows the current hierarchy of TensorFlow toolkits:

![texto alternativo](https://developers.google.com/machine-learning/crash-course/images/TFHierarchy.svg)  
**Figure 1. TensorFlow toolkit hierarchy.**  

The following table summarizes the purposes of the different layers:  

1.   **Estimator (tf.estimator)** 	High-level, OOP API.
2.   **tf.layers/tf.losses/tf.metrics** 	Libraries for common model components.
3.   **TensorFlow** 	Lower-level APIs

Very broadly speaking, here's the pseudocode for a linear classification program implemented in tf.estimator:

```
import tensorflow as tf

# Set up a linear classifier.
classifier = tf.estimator.LinearClassifier(feature_columns)

# Train the model on some example data.
classifier.train(input_fn=train_input_fn, steps=2000)

# Use it to predict.
predictions = classifier.predict(input_fn=predict_input_fn)
```

Run the following three exercises in the provided order:

*    [Quick Introduction to pandas](https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=pandas-colab&hl=en) : pandas is an important library for data analysis and modeling, and is widely used in TensorFlow coding. This tutorial provides all the pandas information you need for this course. If you already know pandas, you can skip this exercise. (se corrió en documento [ **librerias_python.ipynb**](https://github.com/patosaid/apuntes_python/blob/master/librerias_python.ipynb) )
*   [First Steps with TensorFlow](https://colab.research.google.com/notebooks/mlcc/first_steps_with_tensor_flow.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=firststeps-colab&hl=en): This exercise explores linear regression. (a continuación)
*   Synthetic Features and Outliers: This exercise explores synthetic features and the effect of input outliers.

## First Steps with TensorFlow
**Learning Objectives:**
  * Learn fundamental TensorFlow concepts
  * Use the `LinearRegressor` class in TensorFlow to predict median housing price, at the granularity of city blocks, based on one input feature
  * Evaluate the accuracy of a model's predictions using Root Mean Squared Error (RMSE)
  * Improve the accuracy of a model by tuning its hyperparameters  
  
The [data](https://developers.google.com/machine-learning/crash-course/california-housing-data-description) is based on 1990 census data from California.

## Setup
In this first cell, we'll load the necessary libraries.

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset


tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

Next, we'll load our data set.

In [9]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe.head()

   longitude  latitude  ...  median_income  median_house_value
0     -114.3      34.2  ...            1.5             66900.0
1     -114.5      34.4  ...            1.8             80100.0
2     -114.6      33.7  ...            1.7             85700.0
3     -114.6      33.6  ...            3.2             73400.0
4     -114.6      33.6  ...            1.9             65500.0

[5 rows x 9 columns]

We'll randomize the data, just to be sure not to get any pathological ordering effects that might harm the performance of Stochastic Gradient Descent. Additionally, we'll scale `median_house_value` to be in units of thousands, so it can be learned a little more easily with learning rates in a range that we usually use.

In [6]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

       longitude  latitude  ...  median_income  median_house_value
10239     -120.0      39.0  ...            2.0                87.5
11771     -121.3      38.6  ...            2.8               190.2
10689     -120.6      35.1  ...            2.2               179.7
16411     -122.5      37.6  ...            4.2               345.5
16298     -122.5      37.5  ...            6.3               368.0
...          ...       ...  ...            ...                 ...
9805      -119.7      36.8  ...            1.8                55.9
2701      -117.7      33.5  ...            5.8               322.8
8785      -118.6      34.2  ...            5.8               235.8
9473      -119.3      34.4  ...            2.7               234.7
14657     -122.2      38.3  ...            8.0               393.0

[17000 rows x 9 columns]