<a href="https://colab.research.google.com/github/patosaid/apuntes_python/blob/master/Cursos_y_ML_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apuntes de Curso IA de Google y Data Science de edx

### Fuentes:
- [La página web](//developers.google.com/machine-learning/crash-course/prereqs-and-prework) (curso intensivo de Google en ML)
- [Vocabulario](https://developers.google.com/machine-learning/glossary/)
- [Python for Data Science](https://courses.edx.org/courses/course-v1:UCSanDiegoX+DSE200x+1T2019a/course/)
- [Tutorial en python.org](https://docs.python.org/3/tutorial/index.html)
- [fast.ai](https://www.fast.ai/) o [usar colab](https://course.fast.ai/start_colab.html)
- [tutorial de colab en medium](https://towardsdatascience.com/getting-started-with-google-colab-f2fff97f594c) 
- [otro tuto de colab en medium (2018)](https://medium.com/lean-in-women-in-tech-india/google-colab-the-beginners-guide-5ad3b417dfa)  
- [instalar python en máquina local](https://developers.google.com/machine-learning/crash-course/running-exercises-locally)
- [sitio de la librería pandas y tutoriales](http://pandas.pydata.org/pandas-docs/stable/index.html)

## Regresión Lineal

- Understand "loss" in general and squared loss in particular. 

L2 **Loss**  for a given example is also called **squared error**:   

      = Square of the difference between prediction and label   
      = (observation - prediction)2  
      = (y - y')2
### Un ejemplo de regresion linal y redes neuronales:

"Es sabido que los grillos cantan con más frecuencias en los días de más calor".  
* *y = mx + b*  
donde:
  - *y* es la temperatura en celcius (el valor a estimar).  
  - *m* la pendiente de la recta.  
  - *x* el número de cantos por minuto.  
  - *b* la intersección en el eje y.  

En machine learning, la ec. anterior se escribe de la siguiente manera:   
* *y'= w1 x1 + b*  
donde:  
  - *y'* es la etiqueta predicha o salida deseada.  
  - *w1* es el peso del atributo 1.  
  - *x1* es el atributo, o entrada 1.
  - *b* es el *bias* a veces llamado *w0*.

## continuar [aca](https://developers.google.com/machine-learning/crash-course/descending-into-ml/training-and-loss) sobre metodo de entrenamiento

# continuando curso edx...

# Import Libraries 
# deberia borrarlo y empezar un tuto de como usar google colab.

##  Configuring your notebook instance ([fuente](https://course.fast.ai/start_colab.html#step-2-configuring-your-notebook-instance))


1.  Before you start using your notebook, you need to install the necessary packages. You can do this by creating a code cell, and running:

In [0]:
  !curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [0]:
!pip install -q matplotlib-venn

In [0]:
!apt-get -qq install -y libfluidsynth1

In [0]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
file_id = 'REPLACE_WITH_YOUR_FILE_ID'
downloaded = drive.CreateFile({'id': file_id})
print('Downloaded content "{}"'.format(downloaded.GetContentString()))

# Primeros pasos en TensorFlow
https://developers.google.com/machine-learning/crash-course/first-steps-with-tensorflow/video-lecture

## First Steps with TensorFlow: Toolkit   
Tensorflow is a computational framework for building machine learning models. TensorFlow provides a variety of different toolkits that allow you to construct models at your preferred level of abstraction. You can use lower-level APIs to build models by defining a series of mathematical operations. Alternatively, you can use higher-level APIs (like tf.estimator) to specify predefined architectures, such as linear regressors or neural networks.

The following figure shows the current hierarchy of TensorFlow toolkits:

![texto alternativo](https://developers.google.com/machine-learning/crash-course/images/TFHierarchy.svg)  
**Figure 1. TensorFlow toolkit hierarchy.**  

The following table summarizes the purposes of the different layers:  

1.   **Estimator (tf.estimator)** 	High-level, OOP API.
2.   **tf.layers/tf.losses/tf.metrics** 	Libraries for common model components.
3.   **TensorFlow** 	Lower-level APIs

Very broadly speaking, here's the pseudocode for a linear classification program implemented in tf.estimator:

```
import tensorflow as tf

# Set up a linear classifier.
classifier = tf.estimator.LinearClassifier(feature_columns)

# Train the model on some example data.
classifier.train(input_fn=train_input_fn, steps=2000)

# Use it to predict.
predictions = classifier.predict(input_fn=predict_input_fn)
```

Run the following three exercises in the provided order:

*    [Quick Introduction to pandas](https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=pandas-colab&hl=en) : pandas is an important library for data analysis and modeling, and is widely used in TensorFlow coding. This tutorial provides all the pandas information you need for this course. If you already know pandas, you can skip this exercise. (se corrió en documento [ **librerias_python.ipynb**](https://github.com/patosaid/apuntes_python/blob/master/librerias_python.ipynb) )
*   [First Steps with TensorFlow](https://colab.research.google.com/notebooks/mlcc/first_steps_with_tensor_flow.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=firststeps-colab&hl=en): This exercise explores linear regression. (a continuación)
*   Synthetic Features and Outliers: This exercise explores synthetic features and the effect of input outliers.

## First Steps with TensorFlow
**Learning Objectives:**
  * Learn fundamental TensorFlow concepts
  * Use the `LinearRegressor` class in TensorFlow to predict median housing price, at the granularity of city blocks, based on one input feature
  * Evaluate the accuracy of a model's predictions using Root Mean Squared Error (RMSE)
  * Improve the accuracy of a model by tuning its hyperparameters  
  
The [data](https://developers.google.com/machine-learning/crash-course/california-housing-data-description) is based on 1990 census data from California.

## Setup (preparación)
In this first cell, we'll load the necessary libraries.

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset


tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

Next, we'll load our data set.

In [0]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe.head()

   longitude  latitude  ...  median_income  median_house_value
0     -114.3      34.2  ...            1.5             66900.0
1     -114.5      34.4  ...            1.8             80100.0
2     -114.6      33.7  ...            1.7             85700.0
3     -114.6      33.6  ...            3.2             73400.0
4     -114.6      33.6  ...            1.9             65500.0

[5 rows x 9 columns]

We'll randomize the data, just to be sure not to get any pathological ordering effects that might harm the performance of Stochastic Gradient Descent. Additionally, we'll scale `median_house_value` to be in units of thousands, so it can be learned a little more easily with learning rates in a range that we usually use.

In [0]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

       longitude  latitude  ...  median_income  median_house_value
3565      -117.9      34.0  ...            4.6               168.8
13768     -122.0      38.0  ...            3.5               165.5
7970      -118.4      34.0  ...            3.2               366.7
14361     -122.1      37.7  ...            3.5               160.9
15783     -122.4      37.8  ...            3.2               275.0
...          ...       ...  ...            ...                 ...
10165     -119.8      36.5  ...            2.4                78.2
15428     -122.3      37.5  ...            6.0               384.2
9903      -119.7      36.8  ...            2.8                79.7
8365      -118.5      34.0  ...            3.9               372.0
12779     -121.8      38.7  ...            3.4               120.6

[17000 rows x 9 columns]

## Análisis de los datos

Antes de construir un modelo es importante explorar los datos, conocer los min y max , medias , etc. (las estadísticas descriptivas).

In [0]:
california_housing_dataframe.describe()

       longitude  latitude  ...  median_income  median_house_value
count    17000.0   17000.0  ...        17000.0             17000.0
mean      -119.6      35.6  ...            3.9               207.3
std          2.0       2.1  ...            1.9               116.0
min       -124.3      32.5  ...            0.5                15.0
25%       -121.8      33.9  ...            2.6               119.4
50%       -118.5      34.2  ...            3.5               180.4
75%       -118.0      37.7  ...            4.8               265.0
max       -114.3      42.0  ...           15.0               500.0

[8 rows x 9 columns]

## Creación del modelo

El objetivo de este ejemplo es estimar el `median_house_value` ( este vendría siendo el *label* o *target* ). Se usará `total_rooms` como la variable de entrada.  
**NOTA:** Nuestros datos están a nivel de manzana, de manera que este atributo representa el número total de habitaciones en esa manzana.

Para entrenar nuestro modelo, usaremos la interfaz de [LinearRegressor](https://www.tensorflow.org/api_docs/python/tf/estimator/LinearRegressor) que proporciona la API de [Estimator](https://www.tensorflow.org/get_started/estimator) de TensorFlow. Esta API se ocupa en gran medida del ajuste del modelo de bajo nivel y presenta métodos convenientes para realizar el entrenamiento, la evaluación y la inferencia del modelo.

### Paso 1: Define atributos y configura columnas de atributos

Se debe especificar el tipo de dato de cada atributo. Hay dos tipos de datos :

* **Datos categóricos**: Datos que son textuales. En este ejercicio, nuestro conjunto de datos de viviendas no contiene atributos categóricos, pero los ejemplos que podrías ver son el estilo de la casa o las palabras en un anuncio de bienes raíces.

* **Datos numéricos**: Datos que son un número (entero o de punto flotante) y que quieres tratar como un número. Como se analizará más adelante, a veces quieres tratar los datos numéricos (p. ej., un código postal) como si fueran categóricos.

En TensorFlow, indicamos el tipo de datos de un atributo a través de un constructo denominado **feature column**. Las columnas de atributos almacenan solo una descripción de los datos de los atributos; no contienen los datos de los atributos en sí.

Para comenzar, usaremos solo un atributo de entrada numérica, `total_rooms`. El siguiente código extrae los datos de `total_rooms` de nuestro `california_housing_dataframe` y define la columna de atributos con `numeric_column`, que especifica que los datos son numéricos:

In [0]:
# Define the input feature: total_rooms.
my_feature = california_housing_dataframe[["total_rooms"]]

# Configure a numeric feature column for total_rooms.
feature_columns = [tf.feature_column.numeric_column("total_rooms")]

**NOTA** : La forma de nuestros datos de total_rooms es una matriz de una dimensión (una lista del número total de habitaciones por cada manzana). Esta es la forma predeterminada para numeric_column, de manera que no tenemos que pasarla como un argumento.

In [0]:
print(my_feature.head())
print(feature_columns)

       total_rooms
3565        8749.0
13768       1476.0
7970        3711.0
14361       1472.0
15783        361.0
[NumericColumn(key='total_rooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

**Paso 2**: Define el objetivo (target)

 A continuación, definiremos nuestro objetivo, que es `median_house_value`. Nuevamente, podemos extraerlo de nuestro `california_housing_dataframe`:

In [0]:
# Define the label.
targets = california_housing_dataframe["median_house_value"]
targets.head()

3565    168.8
13768   165.5
7970    366.7
14361   160.9
15783   275.0
Name: median_house_value, dtype: float64

### Step 3: Configure the LinearRegressor

Next, we'll configure a linear regression model using LinearRegressor. We'll train this model using the `GradientDescentOptimizer`, which implements Mini-Batch Stochastic Gradient Descent (SGD). The `learning_rate` argument controls the size of the gradient step.

**NOTE:** To be safe, we also apply [gradient clipping](https://developers.google.com/machine-learning/glossary/#gradient_clipping) to our optimizer via `clip_gradients_by_norm`. Gradient clipping ensures the magnitude of the gradients do not become too large during training, which can cause gradient descent to fail.

In [0]:
# Use gradient descent as the optimizer for training the model.
my_optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.0000001)
my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)

# Configure the linear regression model with our feature columns and optimizer.
# Set a learning rate of 0.0000001 for Gradient Descent.
linear_regressor = tf.estimator.LinearRegressor(
    feature_columns=feature_columns,
    optimizer=my_optimizer
)
type(my_optimizer)

tensorflow_estimator.contrib.estimator.python.estimator.extenders._TransformGradients

### Step 4: Define the Input Function

To import our California housing data into our `LinearRegressor`, we need to define an input function, which instructs TensorFlow how to preprocess
the data , as well as how to batch (lotes), shuffle (aleatorizarlos), and repeat it during model training.

First, we'll convert our *pandas* feature data into a dict of NumPy arrays. We can then use the TensorFlow [Dataset API](https://www.tensorflow.org/programmers_guide/datasets) to construct a dataset object from our data, and then break
our data into batches of `batch_size`, to be repeated for the specified number of epochs (num_epochs). 

**NOTE:** When the default value of `num_epochs=None` is passed to `repeat()`, the input data will be repeated indefinitely.

Next, if `shuffle` is set to `True`, we'll shuffle the data so that it's passed to the model randomly during training. The `buffer_size` argument specifies
the size of the dataset from which `shuffle` will randomly sample.

Finally, our input function constructs an iterator for the dataset and returns the next batch of data to the LinearRegressor.

In [0]:
def my_input_fn(features, targets, batch_size=1, shuffle=True, num_epochs=None):
    """Trains a linear regression model of one feature.
  
    Args:
      features: pandas DataFrame of features
      targets: pandas DataFrame of targets
      batch_size: Size of batches to be passed to the model
      shuffle: True or False. Whether to shuffle the data.
      num_epochs: Number of epochs for which data should be repeated. None = repeat indefinitely
    Returns:
      Tuple of (features, labels) for next data batch
    """
  
    # Convert pandas data into a dict of np arrays.
    features = {key:np.array(value) for key,value in dict(features).items()}                                           
 
    # Construct a dataset, and configure batching/repeating.
    ds = Dataset.from_tensor_slices((features,targets)) # warning: 2GB limit
    ds = ds.batch(batch_size).repeat(num_epochs)
    
    # Shuffle the data, if specified.
    if shuffle:
      ds = ds.shuffle(buffer_size=10000)
    
    # Return the next batch of data.
    features, labels = ds.make_one_shot_iterator().get_next()
    return features, labels

**NOTE:** We'll continue to use this same input function in later exercises. For more
detailed documentation of input functions and the `Dataset` API, see the [TensorFlow Programmer's Guide](https://www.tensorflow.org/programmers_guide/datasets).

### Step 5: Train the Model

 Ahora podemos llamar a `train()` en nuestro `linear_regressor` para entrenar el modelo. Uniremos `my_input_fn` en una `lambda` para poder pasar `my_feature` y `target` como argumentos (para obtener más detalles, consulta este [instructivo sobre funciones de entrada de TensorFlow](https://www.tensorflow.org/get_started/input_fn#passing_input_fn_data_to_your_model)) y, para comenzar, entrenaremos el modelo para 100 pasos.

In [0]:
_ = linear_regressor.train(
    input_fn = lambda:my_input_fn(my_feature, targets),
    steps=100
)

# (pendiente) Evaluar modelo....