<a href="https://colab.research.google.com/github/patosaid/apuntes_python/blob/master/intro_a_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desde DataCamp

### Python como calculadora  
Python is perfectly suited to do basic calculations. Apart from addition, subtraction, multiplication and division, there is also support for more advanced operations such as:

- Potencia: ```**```. Este operador eleva el número to its left to the power of the number to its right. For example ```4**2``` will give 16.
- Módulo: ```%```. This operator returns the remainder of the division of the number to the left by the number on its right. For example ```18 % 7``` equals 4.

### Other variable types

- ```int```, or integer: a number without a fractional part. savings, with the value 100, is an example of an integer.
- ```float```, or floating point: a number that has both an integer and fractional part, separated by a point. growth_multiplier, with the value 1.1, is an example of a float.

Next to numerical data types, there are two other very common data types:

- ```str```, or string: a type to represent text. You can use single or double quotes to build a string.
- ```bool```, or boolean: a type to represent logical values. Can only be True or False (the capitalization is important!).

###Guess the type

To find out the type of a value or a variable that refers to that value, you can use the type() function. Suppose you've defined a variable a, but you forgot the type of this variable. To determine the type of a, simply execute:

> type(a)

In [0]:
a = 213231.23121234325
b = True
c = "hello"

In [14]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'bool'>
<class 'str'>

##Operations with other types 
When you sum two strings, for example, you'll get different behavior than when you sum two integers or two booleans.

In the script some variables with different types have already been created. It's up to you to use them.

In [13]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1

year1 = savings *growth_multiplier
# Print the type of year1
print(type(year1))
# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

### Type conversion

Using the ```+``` operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that you've calculated the return of your investment and want to summarize the results in a string. Assuming the floats savings and result are defined, you can try something like this:

> ```print("I started with $" + savings + " and now have $" + result + ". Awesome!")```

This will not work, though, as you cannot simply sum strings and floats.

To fix the error, you'll need to explicitly convert the types of your variables. More specifically, you'll need``` str()```, to convert a value into a string. ```str(savings)```, for example, will convert the float savings to a string.

Similar functions such as ```int()```, ```float()``` and ```bool()``` will help you convert Python values into any type.

In [16]:
savings= 100
factor = 1.1
result = savings * factor**7

I started with $100 and now have $194.87171000000012. Awesome!