<a href="https://colab.research.google.com/github/patosaid/apuntes_python/blob/master/intro_a_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desde learnpython.org

### Python como calculadora  
Python is perfectly suited to do basic calculations. Apart from addition, subtraction, multiplication and division, there is also support for more advanced operations such as:

- Potencia: ```**```. Este operador eleva el número to its left to the power of the number to its right. For example ```4**2``` will give 16.
- Módulo: ```%```. This operator returns the remainder of the division of the number to the left by the number on its right. For example ```18 % 7``` equals 4.

### Other variable types

- ```int```, or integer: a number without a fractional part. savings, with the value 100, is an example of an integer.
- ```float```, or floating point: a number that has both an integer and fractional part, separated by a point. growth_multiplier, with the value 1.1, is an example of a float.

Next to numerical data types, there are two other very common data types:

- ```str```, or string: a type to represent text. You can use single or double quotes to build a string.
- ```bool```, or boolean: a type to represent logical values. Can only be True or False (the capitalization is important!).

###Guess the type

To find out the type of a value or a variable that refers to that value, you can use the type() function. Suppose you've defined a variable a, but you forgot the type of this variable. To determine the type of a, simply execute:

> type(a)

In [0]:
a = 213231.23121234325
b = True
c = "hello"

In [0]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'bool'>
<class 'str'>

##Operations with other types 
When you sum two strings, for example, you'll get different behavior than when you sum two integers or two booleans.

In the script some variables with different types have already been created. It's up to you to use them.

In [0]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1

year1 = savings *growth_multiplier
# Print the type of year1
print(type(year1))
# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

### Type conversion

Using the ```+``` operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that you've calculated the return of your investment and want to summarize the results in a string. Assuming the floats savings and result are defined, you can try something like this:

> ```print("I started with $" + savings + " and now have $" + result + ". Awesome!")```

This will not work, though, as you cannot simply sum strings and floats.

To fix the error, you'll need to explicitly convert the types of your variables. More specifically, you'll need``` str()```, to convert a value into a string. ```str(savings)```, for example, will convert the float savings to a string.

Similar functions such as ```int()```, ```float()``` and ```bool()``` will help you convert Python values into any type.

In [0]:
factor = 1.1
result = savings * factor**7

I started with $100 and now have $194.87171000000012. Awesome!

## List
Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [0]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(5)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
5
1
2
5
0

In [3]:

numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")
second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

## Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [4]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.

In [5]:
remainder = 11 % 3
print(remainder)

2

## Using Operators with Strings
Python supports concatenating strings using the addition operator:

In [0]:
helloworld = "hello" + " " + "world"

Python also supports multiplying strings to form a string with a repeating sequence:

In [6]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

## Using Operators with Lists
Lists can be joined with the addition operators:

In [0]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [8]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Exercise
The target of this exercise is to create two lists called ```x_list``` and ```y_list```, which contain 10 instances of the variables ```x``` and ```y```, respectively. You are also required to create a list called ```big_list```, which contains the variables ```x``` and ```y```, 10 times each, by concatenating the two lists you have created.

In [21]:
x = object()
y = object()

# TODO: change this code
x_list = [x]*10
y_list = [y]*10
big_list = [x]*10+[y]*10

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

## String Formatting

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".  
Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

In [32]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

To use two or more argument specifiers, use a tuple (parentheses):

In [38]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))
print("wena %s... tiene %d!!!  " % (name, age))

John is 23 years old.
wena John... tiene 23!!!

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. For example:

In [39]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

Here are some basic argument specifiers you should know:


```
%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)
```

## Exercise

You will need to write a format string which prints out the data using the following syntax: `Hello John Doe. Your current balance is $53.44.`

In [48]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s"

print((format_string) % data )

print((format_string) % data )

Hello John Doe. Your current balance is $53.44
Hello John Doe. Your current balance is $53.440000

## Basic String Operations
Strings are bits of text. They can be defined as anything between quotes:

In [0]:
astring = "Hello world!"
astring2 = 'Hello world!'

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes.For example to assign the string in these bracket(single quotes are ' ') you need to use double quotes only like this

In [52]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

That prints out 12, because "Hello world!" is 12 characters long, including punctuation and spaces.

In [80]:
astring = "Hello world!"
print(astring.index("o"))
print(astring.index("H"))

4
0

That prints out 4, because the location of the first occurrence of the letter "o" is 4 characters away from the first character. Notice how there are actually two o's in the phrase - this method only recognizes the first.

But why didn't it print out 5? Isn't "o" the fifth character in the string? To make things more simple, Python (and most other programming languages) start things at 0 instead of 1. So the index of "o" is 4.

In [56]:
astring = "Hello world!"
print(astring.count("l"))

3

For those of you using silly fonts, that is a lowercase L, not a number one. This counts the number of l's in the string. Therefore, it should print 3.

In [79]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:-1])

lo w
lo world

This prints a slice of the string, starting at index 3, and ending at index 6. But why 6 and not 7? Again, most programming languages do this - it makes doing math inside those brackets easier.

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".

In [78]:
astring = "Hello world!"
print(astring[3:7:2])

l

This prints the characters of string from 3 to 7 skipping one character. This is extended slice syntax. The general form is [start:stop:step].

In [71]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

Note that both of them produce same output

There is no function like strrev in C to reverse a string. But with the above mentioned type of slice syntax you can easily reverse a string like this

In [77]:
astring = "Hello world!"
print(astring[::-2])
print(astring[::-3])
print(astring[::2])

!lo le
!r l
Hlowrd

This

In [81]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

These make a new string with all letters converted to uppercase and lowercase, respectively.

In [82]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

This is used to determine whether the string starts with something or ends with something, respectively. The first one will print True, as the string starts with "Hello". The second one will print False, as the string certainly does not end with "asdfasdfasdf".

In [85]:
astring = "Hello world!"
afewwords = astring.split(" ")

['Hello', 'world!']

This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be "Hello", and the second will be "world!".

## Exercise

Try to fix the code to print out the correct information by changing the string.

In [97]:
s = "Str thera! what ome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Str t'
The next five characters are 'hera!'
The thirteenth character is 'h'
The characters with odd index are 't hr!wa m!'
The last five characters are ' ome!'
String in uppercase: STR THERA! WHAT OME!
String in lowercase: str thera! what ome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Str', 'thera!', 'what', 'ome!']

# Conditions
Python uses boolean variables to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [98]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".
## Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [99]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

## The "in" operator  
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [100]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.  
Here is an example for using Python's "if" statement using code blocks:

In [0]:
if <statement is="" true="">:
    <do something="">
    ....
    ....
elif <another statement="" is="" true="">: # else if
    <do something="" else="">
    ....
    ....
else:
    <do another="" thing="">
    ....
    ....
</do></do></another></do></statement>

For example:

In [104]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

A statement is evaulated as true if one of the following is correct:   
- 1. The "True" boolean variable is given, or calculated using an expression, such as an arithmetic comparison.  
- 2. An object which is not considered "empty" is passed.

Here are some examples for objects which are considered as empty:  
- 1. An empty string: ""   
- 2. An empty list: []   
- 3. The number zero: 0  
- 4. The false boolean variable: False  

## The 'is' operator

Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:

In [113]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False
print(2 in y)
print([1,2,3] == y)
print([1,2,3] is y)
print(y is y)
print([1,2,3] is [1,2,3])
y2 = y
print(y2 is y)

True
False
True
True
False
True
False
True

## The "not" operator

Using "not" before a boolean expression inverts it:

In [114]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

## Exercise

Change the variables in the first section, so that each if statement resolves as True.

In [122]:
# change this code
number = 16
second_number = 0
first_array = [1,2,3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

### **Continuar con [Loops](https://www.learnpython.org/en/Loops) ...**