<a href="https://colab.research.google.com/github/patosaid/apuntes_python/blob/master/intro_a_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desde DataCamp

### Python como calculadora  
Python is perfectly suited to do basic calculations. Apart from addition, subtraction, multiplication and division, there is also support for more advanced operations such as:

- Potencia: ```**```. Este operador eleva el número to its left to the power of the number to its right. For example ```4**2``` will give 16.
- Módulo: ```%```. This operator returns the remainder of the division of the number to the left by the number on its right. For example ```18 % 7``` equals 4.

### Other variable types

- ```int```, or integer: a number without a fractional part. savings, with the value 100, is an example of an integer.
- ```float```, or floating point: a number that has both an integer and fractional part, separated by a point. growth_multiplier, with the value 1.1, is an example of a float.

Next to numerical data types, there are two other very common data types:

- ```str```, or string: a type to represent text. You can use single or double quotes to build a string.
- ```bool```, or boolean: a type to represent logical values. Can only be True or False (the capitalization is important!).

###Guess the type

To find out the type of a value or a variable that refers to that value, you can use the type() function. Suppose you've defined a variable a, but you forgot the type of this variable. To determine the type of a, simply execute:

> type(a)

In [0]:
a = 213231.23121234325
b = True
c = "hello"

In [0]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'bool'>
<class 'str'>

##Operations with other types 
When you sum two strings, for example, you'll get different behavior than when you sum two integers or two booleans.

In the script some variables with different types have already been created. It's up to you to use them.

In [0]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1

year1 = savings *growth_multiplier
# Print the type of year1
print(type(year1))
# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

### Type conversion

Using the ```+``` operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that you've calculated the return of your investment and want to summarize the results in a string. Assuming the floats savings and result are defined, you can try something like this:

> ```print("I started with $" + savings + " and now have $" + result + ". Awesome!")```

This will not work, though, as you cannot simply sum strings and floats.

To fix the error, you'll need to explicitly convert the types of your variables. More specifically, you'll need``` str()```, to convert a value into a string. ```str(savings)```, for example, will convert the float savings to a string.

Similar functions such as ```int()```, ```float()``` and ```bool()``` will help you convert Python values into any type.

In [0]:
factor = 1.1
result = savings * factor**7

I started with $100 and now have $194.87171000000012. Awesome!

## List
Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [0]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(5)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
5
1
2
5
0

In [3]:

numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")
second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

## Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [4]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.

In [5]:
remainder = 11 % 3
print(remainder)

2

## Using Operators with Strings
Python supports concatenating strings using the addition operator:

In [0]:
helloworld = "hello" + " " + "world"

Python also supports multiplying strings to form a string with a repeating sequence:

In [6]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

## Using Operators with Lists
Lists can be joined with the addition operators:

In [0]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [8]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Exercise
The target of this exercise is to create two lists called ```x_list``` and ```y_list```, which contain 10 instances of the variables ```x``` and ```y```, respectively. You are also required to create a list called ```big_list```, which contains the variables ```x``` and ```y```, 10 times each, by concatenating the two lists you have created.

In [21]:
x = object()
y = object()

# TODO: change this code
x_list = [x]*10
y_list = [y]*10
big_list = [x]*10+[y]*10

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!